@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

/* profileセクション */

.sub_title,
.title {
    text-align: center;
    margin-top: 20px;
}

.profile {
    margin-top: 150px;
    margin-bottom: 150px;
}

.hobby {
    margin-top: 30px;
}

.profile_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_name_eng {
    font-size: 12px;
    margin-bottom: 10px;
}

.profile_name_ja {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile_sentence {
    padding: 10px;
}

.profile_sentence_detail {
    max-width: 475px;
    line-height: 1.8;
    padding-top: 20px;
    border-top: 2px solid #83ccd4;
}

.profile_photo img {
    max-width: 300px;
    height: auto;
}


/* careerセクション */
.career {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.career_main img {
    max-width: 100%;
    height: auto;
}

.career_sentence {
    position: relative;
    max-width: 670px;
    margin-left: 10%;
    margin-right: 10%;
}

.career_sentence:before {
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(to bottom, #545454 0%, #7B8C8E 35%, #9AAAAD 60%, #83CCD4 100%);
    width: 1px;
    height: 100%;
    left: -30px;
    top: 30px;
    height: 93%;
    z-index: -1;
}

.career_sentence .career_ym {
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.career_sentence dt {
    position: relative;
    line-height: 1;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    margin-left: 60px;
}

.career_sentence dt:before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -30px;
    width: 20px;
    height: 20px;
    background: #83ccd4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 450px) {
    .career_sentence dt:before {
        left: -20px;
    }

    .career_sentence:before {
        left: -20px;
    }
}

.career_sentence dd {
    line-height: 1.5;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.6;
}

/* importantセクション */
.important {
    margin-top: 200px;
}

.bubble_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bubble {
    margin-top: 50px;
    position: relative;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    animation: floating-y 5s ease-in-out infinite alternate-reverse;
}

@keyframes floating-y {
    0% {
        transform: translateY(-10px);
        /* 下に動く */
    }

    50% {
        transform: translateY(10px);
        /* 上に動く */
    }

    100% {
        transform: translateY(-10px);
        /* 下に戻る */
    }
}

.bubble:nth-child(1) {
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    animation-delay: 0.8s;
}

.bubble:nth-child(3) {
    animation-delay: 1.2s;
}

/* アイコン（シャボン玉上に重ねる） */
.overlay_image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
}

.bubble_text {
    position: absolute;
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    text-align: center;
    transform: translate(-50%, -50%);
}

.bubble_text_back {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #545454;
    line-height: 1.5;
    width: 220px;
}

@media screen and (max-width: 980px) {

    .bubble_text_back {
        width: 160px;
        bottom: 20%;
    }
}

.back,
.front {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: 0.3s;
}

/* 初期状態 */
.card .back {
    transform: translateX(-50%) rotateY(-180deg);
}

/* クリックしたらフロントを裏返す */
.flip-checkbox_1:checked+label .front {
    transform: translateX(-50%) rotateY(180deg);
}

.flip-checkbox_2:checked+label .front {
    transform: translateX(-50%) rotateY(180deg);
}

.flip-checkbox_3:checked+label .front {
    transform: translateX(-50%) rotateY(180deg);
}

/* クリックしたらバックを裏返す */
.flip-checkbox_1:checked+label .back {
    transform: translateX(-50%) rotateY(0);
}

.flip-checkbox_2:checked+label .back {
    transform: translateX(-50%) rotateY(0);
}

.flip-checkbox_3:checked+label .back {
    transform: translateX(-50%) rotateY(0);
}


/* skillセクション */
.skill {
    margin-top: 450px;
}

.main_skill {
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 90px;
    padding: 10px;
}

.skill_type_coding,
.skill_type_design {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #83ccd4;
    color: #fcf2e5;
    height: 26px;
    font-weight: 500;
}

.skill_list {
    display: flex;
    justify-content: space-between;
}

.skill_level {
    display: flex;
    gap: 5px;
    align-items: center;
}

.skill_level span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #9AAAAD;
    border-radius: 50%;
}

.skill_level span.color {
    background-color: #9AAAAD;
}

.skill_padding {
    padding-left: 80px;
}

.design_skill,
.coding_skill {
    flex-grow: 1;
}

.skill_item {
    display: flex;
    margin: 30px auto;
}

.skill_name {
    width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

/* photo_galleryセクション */
.photo_gallery {
    margin-top: 200px;
}

.slider_photo_gallery {
    display: flex;
    align-items: center;
    margin: 100px auto;
}

.photo_detail {
    max-width: 300px;
    height: auto;
}

.slick-track {
    display: flex;
}

.slick-track .slick-slide {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.slick-slide.photo_center {
    align-items: center;
}

.photo_big .photo_detail {
    max-width: 350px;
}

.photo_small .photo_detail {
    max-width: 250px;
}

@media screen and (max-width: 1100px) {
    .main_skill {
        display: flex;
        text-align: center;
    }

    .design_skill,
    .coding_skill {
        margin-bottom: 50px;
        max-width: 260px;
    }

    .skill_list {
        display: block;
    }
}


@media screen and (max-width: 767px) {
    .profile_main {
        flex-direction: column-reverse;
    }

    .profile_photo img {
        max-width: 210px;
        padding: 50px;
    }

    .career {
        flex-direction: column;
    }

    .bubble_container {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        gap: 220px;
    }

    .main_skill {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* nightモード */
body.night {
    .profile_sentence_detail {
        border-top:2px solid #FCF2E5;
    }
    .career_sentence dd , .career_sentence .career_ym{
        color: #FCF2E5;
    }
    .career_sentence dt:before {
        background:#F9F5AC;
    }
    .career_sentence:before {
        background: linear-gradient(to bottom, #FCF2E5 0%, #FCF2E5 35%, #FCF2E5 60%, #FCF2E5 100%);
    }
    .bubble_text , .bubble_text_back {
        color: #061F4B;
    }
    .bubble_text_back {
        bottom: 27%;
    }
    .skill_type_coding, .skill_type_design{
        background-color: #061F4B;
    }
    .skill_name {
        color: #fcf2e5;
    }
    .skill_level span {
        border: 1px solid #F9F5AC;
    }
    .skill_level span.color {
        background-color:#F9F5AC;
    }
}