@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

/* profileセクション */

.sub_title,
.title {
    text-align: center;
}

.profile {
    margin-top: 150px;
    margin-bottom: 150px;
}

.hobby {
    margin-top: 30px;
}

.profile_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_name_eng {
    font-size: 12px;
    margin-bottom: 10px;
}

.profile_name_ja {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile_sentence_detail {
    max-width: 475px;
    line-height: 1.8;
    padding-top: 20px;
    border-top: 2px solid #83ccd4;
}

.profile_photo img {
    max-width: 300px;
    height: auto;
}


/* careerセクション */
.career {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.career_main img {
    max-width: 100%;
    height: auto;
}

.career_sentence {
    position: relative;
    max-width: 670px;
    margin-left: 10%;
    margin-right: 80px;
}

.career_sentence:before {
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(to bottom, #545454 0%, #7B8C8E 35%, #9AAAAD 60%, #83CCD4 100%);
    width: 1px;
    height: 100%;
    left: -30px;
    top: 30px;
    height: 93%;
    z-index: -1;
}

.career_sentence .career_ym {
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.career_sentence dt {
    position: relative;
    line-height: 1;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    margin-left: 60px;
}

.career_sentence dt:before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -30px;
    width: 20px;
    height: 20px;
    background: #83ccd4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.career_sentence dd {
    line-height: 1.5;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.6;
}

/* importantセクション */
.important {
    margin-top: 200px;
}

.bubble_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bubble {
    margin-top: 50px;
    position: relative;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

/* 各バブルに異なる遅延を設定 */
.bubble:nth-child(1) {
    animation-delay: 0s;
    /* 最初のバブル */
}

.bubble:nth-child(2) {
    animation-delay: 0.6s;
    /* 2番目のバブル */
}

.bubble:nth-child(3) {
    animation-delay: 1.2s;
    /* 3番目のバブル */
}

@keyframes floating-y {
    0% {
        transform: translateY(-5%);
        /* 上に少し浮かぶ */
    }

    100% {
        transform: translateY(1%);
        /* 下に少し浮かぶ */
    }
}

.bubble_image {
    width: 300px;
    height: auto;
}

.overlay_image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: auto;
}

.bubble_text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

/* skillセクション */
.skill {
    margin-top: 200px;
}

.main_skill {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-top: 90px;
    padding: 10px;
}

.skill_type_coding,
.skill_type_design {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #83ccd4;
    color: #fcf2e5;
    height: 26px;
    font-weight: 500;
}

.skill_level {
    display: flex;
    gap: 5px;
    padding-left: 40px;
    align-items: center;
}

.skill_level span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #9AAAAD;
    border-radius: 50%;
}

.skill_level span.color {
    background-color: #9AAAAD;
}

table tr td {
    height: 70px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: normal;
}

.skill_padding {
    padding-left: 80px;
}

/* photo_galleryセクション */
.photo_gallery {
    margin-top: 200px;
}

.slider_photo_gallery {
    display: flex;
    align-items: center;
    margin: 100px auto;
}

.photo_detail {
    max-width: 300px;
    height: auto;
}

.slick-track {
    display: flex;
}

.slick-track .slick-slide {
    height:auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.slick-slide.photo_center {
    align-items: center;
}

.photo_big .photo_detail {
    max-width: 350px;
}

.photo_small .photo_detail {
    max-width: 250px;
}