@charset "utf-8";
body {
    background-color: #fcf2e5;
    /* width:1000px; */
}

header{
    display: flex;
    justify-content: space-between;
}

.header_right {

    margin-right: 20px;
}

.header_logo {
    margin-top: 30px;
    margin-left: 20px;
}

.header_logo img{
    width: 100px;
    height: auto;
}

.mail_icon {
    background-color: #83ccd4;
    width:50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;
}

.mail_icon img{
    width:20px;
    margin-top: 16px;
    margin-left: 15px;
}

.header_logo_vertical img {
  width:20px;
  height: auto;
  margin-top: 20px;
  margin-left: 12px;
}

.hamburger_menu {
    display: block;
    height: 50px;
    cursor: pointer;
    z-index: 200;
    background-color: #83ccd4;
    width: 50px;
    border-radius: 50px;
}

.hamburger_menu span {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    /* 位置の調整 */
    position: relative;
    top: 25px;
    transition: 0.3s;
    margin-top: 17px;
    margin-left: 17px;
}

.hamburger_menu span::before,
.hamburger_menu span::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    /* 位置の調整 */
    position: absolute;
    transition: 0.3s;
}

/* 位置の調整 */
.hamburger_menu span::before {
    bottom: 4px;
}

.hamburger_menu span::after {
    top: 4px;
}

/* スクロール無効化 */
.no-scroll {
    /* overflow: hidden; */
}

/* バツ印 */
/* 両方のクラス (hamburger_menu と open) が同時に指定された要素だけにスタイルを適用。 */
.hamburger_menu.open span {
    background: transparent;
    /* 親要素である真ん中の線を透明にする */
}

.hamburger_menu.open span::before {
    bottom: 0;
    transform: rotate(45deg);
    /* 回転させる */
}

.hamburger_menu.open span::after {
    top: 0;
    transform: rotate(-45deg);
    /* 回転させる */
}

/* セクションごとの見出し */
.sub_title {
    font-size: 14px;
    color: #83ccd4;
    letter-spacing:0.2em;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto; 
}

.weight_bold {
    font-weight: bold;
}

/* 朝ver ボタン */
.button_morning {
    display: flex; /* Flexbox を適用 */
    justify-content: space-evenly; /* 子要素を等間隔に配置 */
    align-items: center; /* 垂直方向で中央揃え */
    text-decoration: none;
    position: relative;
    width: 120px;
    padding: 1rem 1rem;
    font-weight: bold;
    border-radius: 100px;
    color: #545454;
    border: 2px solid #83ccd4;
    box-shadow: 0px 3px #83ccd4;
    transition: 0.3s ease-in-out;
}

/* 矢印の「くの字」を作成 */
.button_morning::after {
    content: ""; /* 表示する内容を空に設定 */
    display: inline-block; /* Flexbox の子要素として扱う */
    width: 8px;
    height: 8px;
    border: 3px solid #545454; /* 矢印の色 */
    border-width: 2px 2px 0 0; /* 上と右の枠線だけを表示 */
    transform: rotate(45deg); /* 回転して「くの字」を形成 */
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #83ccd4;
    color: #fcf2e5;
    height: 150px;
    
}

.footer_menu {
    display: flex;
    
    
}

.footer_menu li {
    color: #fcf2e5;
    
}