@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

.main_visual {
    position: relative;
}

.wrapper {
    --_base-height: 95svh;
    --_note-height: 1lh;
    min-height: var(--_base-height);
}

.container {
    min-height: calc(var(--_base-height) - var(--_note-height));
    padding-top: var(--_note-height);
    display: grid;
    place-content: center;
}

.text {
    font-size: max(20px, 5vw);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-align: center;
}

.note {
    text-align: right;
}

.alternative {
    position: fixed !important;
    inset: 0 !important;
    display: block !important;
    inline-size: 4px !important;
    block-size: 4px !important;
    contain: strict !important;
    pointer-events: none !important;
    opacity: 0 !important;
}

/* アニメーション前 */
[data-text-animation="fadeIn"] span {
    opacity: 0;
    transition: opacity 1s;
}

/* アニメーション後 */
[data-text-animation="fadeIn"] span.is-active {
    opacity: 1;
}

/* 背景画像の上にヘッダーを重ねる */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.main_visual_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

@media screen and (max-width: 1000px) {
    .main_visual_message {
        font-size: 20px;
        width: 100%;
    }
}

.sun {
    position: absolute;
    width: 18%;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.dotted_line {
    position: absolute;
    width: 84%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud_left {
    position: absolute;
    width: 40%;
    left: -11%;
    top: 43%;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
    animation-delay: 0.7s;
}

.cloud_right {
    position: absolute;
    width: 30%;
    right: -10%;
    top: 45%;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

.cloud_center_left {
    position: absolute;
    width: 25%;
    left: 10%;
    top: 22%;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
    animation-delay: 0.3s;
}

.cloud_center_right {
    position: absolute;
    width: 20%;
    right: 10%;
    top: 10%;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
    animation-delay: 1.2s;
}

@keyframes floating-y {
    0% {
        transform: translateY(-2%);
        /* 上に少し浮かぶ */
    }

    100% {
        transform: translateY(3%);
        /* 下に少し浮かぶ */
    }
}

/* スクロールダウン */
.scroll-down {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #83ccd4;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
}

.wavy-text span {
    position: relative;
    display: inline-block;
    animation: wave 2s infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy-text_arrow {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #83ccd4;
    border-bottom: 1px solid #83ccd4;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: float 2s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(-20%) rotate(-45deg);
    }

    50% {
        transform: translateY(20%) rotate(-45deg);
    }
}

/* about_meセクション */
.about_me .sub_title,
.about_me .title,
.splide .sub_title,
.splide .title {
    text-align: center;
}

.about_me_main {
    margin-top: 100px;
    position: relative;
}

.about_me_hint {
    position: relative;
}

.tape {
    max-width: 36px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 240px;
    z-index: 1;
}

.back,
.front {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: 0.3s;
}

/* 初期状態 */
.card .back {
    transform: translateX(-50%) rotateY(-180deg);
}

/* クリックしたらフロントを裏返す */
.flip-checkbox_1:checked+.card .front {
    transform: translateX(-50%) rotateY(180deg);
}

/* クリックしたらバックを裏返す */
.flip-checkbox_1:checked+.card .back {
    transform: translateX(-50%) rotateY(0);
}

/* 青い円 */
.click_area {
    position: absolute;
    top:400px;
    left: 35%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 14px;
    z-index: 2;
    background-color: #B0E3E5;
    border-radius: 50%;
}

/* 青い円のぼかし効果 */
.click_area::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B0E3E5;
    border-radius: 50%;
    filter: blur(4px);
    z-index: -1;
}

/* 「click」文字のスタイル */
.click_area span {
    text-align: center;
    font-size: 14px;
    display: block;
    position: relative;
    z-index: 2;
}

.about_me_morning_1 {
    max-width: 215px;
    height: auto;
    position: absolute;
    top: -15px;
    left: -70px;
}

.about_me_morning_2 {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 610px;
}

.about_me_morning_3 {
    max-width: 230px;
    height: auto;
    position: absolute;
    top: 300px;
    left: -30px;
    z-index: -1;
}

@media screen and (max-width: 1100px) {
    .about_me_morning_1 {
        max-width: 165px;
        height: auto;
        top: -15px;
        left: 5px;
    }
    .tape {
        top: 34px;
        left: 220px;
    }
    .about_me_morning_2 {
        max-width: 250px;
        height: auto;
        top: 60px;
        left: 610px;
    }
    .click_area {
        top:350px;
        left: 30%;
    }
    .about_me_morning_3 {
        max-width: 180px;
        height: auto;
        top: 300px;
        left: 30px;
    }
}

@media screen and (max-width: 900px) {
    .about_me_morning_1 {
        max-width: 145px;
        height: auto;
        top: -15px;
        left: 5px;
    }
    .tape {
        top: 60px;
        left: 155px;
    }
    .about_me_morning_2 {
        max-width: 250px;
        height: auto;
        top: 90px;
        left: 500px;
    }
    .click_area {
        top:360px;
        left: 300px;
    }
    .about_me_morning_3 {
        max-width: 160px;
        height: auto;
        top: 300px;
        left: 30px;
    }
}

.about_me_sentence {
    max-width: 1000px;
    width: 100%;
    margin-left: 50%;
    padding-right: 5px;
}

@media screen and (max-width: 1400px) {
    .about_me_sentence {
        max-width: 60%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .about_me_sentence {
        max-width: 55%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .about_me_sentence {
        max-width: 45%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .about_me_sentence {
        max-width: 40%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

.about_me_sentence p {
    line-height: 2.8;
    max-width: 630px;
}

.about_me_sentence .blue_heading {
    height: 20px;
    padding: 0rem 0.5rem;
    border-left: 8px solid #83ccd4;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about_me_sentence_1,
.about_me_sentence_2 {
    margin-bottom: 20px;
}

.about_me_button {
    margin-top: 50px;
}

/* worksセクション */
.pagination {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: bold;
}

.slash {
    color: #83ccd4;
}

.splide__arrows {
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 100px;
    transform: translateX(-50%);
    margin-top: 10px;
}

.splide__arrow {
    width: 40px;
    /* ボタンの幅 */
    height: 40px;
    /* ボタンの高さ */
    background-color: #fcf2e5;
}

.splide__arrow:hover svg .cls-1 {
    stroke: #83ccd4;
    transition: fill 0.5s ease, stroke 0.3s ease;
}

.splide__arrow:hover svg .cls-2 {
    fill: #83ccd4;
    transition: fill 0.5s ease, stroke 0.3s ease;
}

/* SVGのサイズ調整 */
.splide__arrow svg {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.splide {
    margin: 150px auto;
}

.splide .title {
    margin-bottom: 130px;
}

.works_back {
    background-color: rgba(212, 139, 131, 0.07);
    width: 300px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.works_title {
    font-size: 16px;
    margin-top: 20px;
    align-self: flex-start;
}

.works_button {
    margin: 60px auto 150px auto;
}

/* contactセクション */
.contact {
    display: flex;
    justify-content: space-between;
}

.contact_photo {
    width: 100%;
    max-width: 500px;
    padding-left: 20px;
}

.contact_photo img {
    width: 100%;
    height: auto;
}

.contact_main {
    max-width: 560px;
    margin-bottom: 200px;
    position: relative;

}

.contact_sentence {
    max-width: 524px;
    line-height: 2.8;
    padding: 20px 10px;
}

.contact_button {
    margin-top: 50px;
    width: 200px;
}

.splide__slide img {
    height: auto;
    width: 85%;
    object-fit: cover;
    cursor: pointer;
    max-width: 500px;
    overflow: hidden;
    width: 100%;
}

.splide__slide img {
    height: auto;
    transition: transform .5s ease;
}

.splide__slide:hover img {
    transform: scale(1.03);
}


/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
    .about_me_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_me_sentence {
        max-width: 80%;
        margin: 0;
        padding: 0 10px;
        margin-top: 600px;
    }

    .about_me_sentence p {
        line-height: 1.8;

    }

    .about_me_button {
        margin: 60px auto;
    }

    .splide {
        margin-top: 60px;
    }

    .splide__slide {
        display: flex;
        flex-direction: column; /* 縦方向に並べる */
        align-items: center; /* 中央寄せ */
        text-decoration: none; /* リンクの下線を消す */
    }
    
    .works_back {
        display: flex; /* 画像を中央に配置 */
        justify-content: center;
        align-items: center;
    }
    
    .works_back img {
        max-width: 100%; /* 画像の最大幅を親要素に合わせる */
        height: auto; /* アスペクト比を維持 */
    }
    
    .works_title {
        text-align: center; /* テキストの中央寄せ */
        margin-top: 10px; /* 画像との間隔 */
    }
    

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact_main {
        display: contents;
    }

    .contact_main .title {
        margin-bottom: 60px;
    }

    .contact_sentence {
        order: 1;
        line-height: 1.5;
        padding-top: 30px;
        max-width: 80%;
    }

    .contact_photo {
        padding-right: 20px;
        max-width: 375px;
        height: auto;
    }

    .contact_button {
        order: 1;
        margin-bottom: 100px;
    }
}

.container {
    padding: 40px;
  }
  
  .block {
    width: 160px;
    height: 160px;
    margin: auto;
  }
  
  .circleText {
    overflow: visible;
    animation: rotation 18s linear infinite;
  }
  .circleText__circle {
    fill: none;
  }
  .circleText__text {
    fill: #83ccd4;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }