@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

.main_visual {
    position: relative;
}

/* 背景画像の上にヘッダーを重ねる */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.main_visual_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.sun {
    position: absolute;
    width: 18%;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.dotted_line {
    position: absolute;
    width: 84%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud_left {
    position: absolute;
    width: 40%;
    left: -11%;
    top: 43%;
}

.cloud_right {
    position: absolute;
    width: 30%;
    right: -10%;
    top: 45%;
}

.cloud_center_left {
    position: absolute;
    width: 25%;
    left: 10%;
    top: 22%;
}

.cloud_center_right {
    position: absolute;
    width: 20%;
    right: 10%;
    top: 10%;
}

/* スクロールダウン */
.scroll-down {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #83ccd4;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
}

.wavy-text span {
    position: relative;
    display: inline-block;
    animation: wave 2s infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy-text_arrow {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #83ccd4;
    border-bottom: 1px solid #83ccd4;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: float 2s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(-20%) rotate(-45deg);
    }

    50% {
        transform: translateY(20%) rotate(-45deg);
    }
}

/* about_meセクション */

.about_me .sub_title,
.about_me .title,
.works .sub_title,
.works .title {
    text-align: center;
}

.about_me_main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    height: 700px;
}

.about_me_morning_1 {
    max-width: 215px;
    height: auto;
    position: absolute;
    top: -15px;
    left: -70px;
}

.about_me_morning_2 {
    max-width: 250px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.white_back {
    background-color: #fff;
    width: 290px;
    height: 380px;
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 1;
}

.circle {
    width: 85px;
    height: 85px;
    background-color: #83ccd4;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 350px;
    filter: blur(5px);
    z-index: 1;
}

.circle_text {
    color: #fcf2e5;
    text-align: center;
    position: absolute;
    top: 440px;
    left: 395px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about_me_morning_3 {
    max-width: 230px;
    height: auto;
    position: absolute;
    top: 300px;
    left: -30px;
}

@media screen and (max-width: 1100px) {
    .about_me_morning_1 {
        max-width: 165px;
        height: auto;
        position: absolute;
        top: -15px;
        left: 5px;
    }

    .about_me_morning_2 {
        max-width: 200px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .white_back {
        background-color: #fff;
        width: 240px;
        height: 330px;
        position: absolute;
        top: 60px;
        left: 140px;
        z-index: 1;
    }

    .circle {
        width: 85px;
        height: 85px;
        background-color: #83ccd4;
        border-radius: 50%;
        position: absolute;
        top: 330px;
        left: 330px;
        z-index: 1;
    }

    .circle_text {
        color: #fcf2e5;
        text-align: center;
        position: absolute;
        top: 370px;
        left: 375px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .about_me_morning_3 {
        max-width: 180px;
        height: auto;
        position: absolute;
        top: 300px;
        left: 30px;
    }
}


@media screen and (max-width: 900px) {
    .about_me_morning_1 {
        max-width: 145px;
        height: auto;
        position: absolute;
        top: -15px;
        left: 5px;
    }

    .about_me_morning_2 {
        max-width: 180px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 17px;
    }

    .white_back {
        background-color: #fff;
        width: 220px;
        height: 300px;
        position: absolute;
        top: 60px;
        left: 100px;
        z-index: 1;
    }

    .circle {
        width: 85px;
        height: 85px;
        background-color: #83ccd4;
        border-radius: 50%;
        position: absolute;
        top: 310px;
        left: 285px;
        z-index: 1;
    }

    .circle_text {
        color: #fcf2e5;
        text-align: center;
        position: absolute;
        top: 350px;
        left: 330px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .about_me_morning_3 {
        max-width: 160px;
        height: auto;
        position: absolute;
        top: 300px;
        left: 30px;

    }
}


.about_me_sentence {
    max-width: 640px;
    width: 100%;
    position: absolute;
    left: 50%;
    padding-right: 10%;
}

@media screen and (max-width: 1400px) {
    .about_me_sentence {
        max-width: 60%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .about_me_sentence {
        max-width: 55%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .about_me_sentence {
        max-width: 45%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .about_me_sentence {
        max-width: 35%;
        box-sizing: border-box;
        padding-right: 10px;
    }
}

.about_me_sentence p {
    line-height: 2.8;
}

.about_me_sentence .blue_heading {
    height: 20px;
    padding: 0rem 0.5rem;
    border-left: 8px solid #83ccd4;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about_me_sentence_1,
.about_me_sentence_2 {
    margin-bottom: 20px;
}

.about_me_button {
    margin-top: 50px;
}

/* worksセクション */
.works {
    margin-top: 100px;
}

.works_slider_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    background-color: rgba(212, 139, 131, 0.07);
    margin-top: 80px;
}

.works_title {
    font-size: 16px;
    margin-top: 20px;
    align-self: flex-start;
}

.works_button {
    margin: 90px auto 150px auto;
}

/* contactセクション */
.contact {
    display: flex;
    justify-content: space-between;
}

.contact_photo {
    width: 100%;
    max-width: 500px;
    padding-left: 20px;
}

.contact_photo img {
    width: 100%;
    height: auto;
}

.contact_main {
    max-width: 560px;
    margin-bottom: 200px;
    position: relative;
}

.contact_sentence {
    max-width: 524px;
    line-height: 2.8;
    padding-top: 20px;
}

.contact_button {
    margin-top: 50px;
    width: 200px;
}





/* 
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.slider p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 100px;
  color: #666;
  margin: 10px;
  text-align: center;
  background-color: #e0e0e0;
  opacity: 0.4;
  transition: all 300ms ease;
}

.slider p.slick-center {
  color: #f50057;
  opacity: 1;
  transform: scale(1.16);
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .button {
  margin: 8px;
  border: 1px solid #000;
  color: #000;
  padding: 8px;
  text-align: center;
  width: 8em;
  transition: all 300ms ease;
}

.buttons .button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 300ms ease;
} */